{% extends 'base.html.twig' %}

{% block title %}Shoplists{% endblock %}

{% block body %}
<table>
	{% for shoplist in shoplists %}
		<tr>
			<td>
				<a href="{{ path('shoplist-contents', {'id': shoplist.id}) }}">
					{{ shoplist.name }}
				</a>
			</td>
			<td>
				<form
					method="POST"
					action="{{ path('shoplist-remove', {'id': shoplist.id}) }}">
					<button type="submit">remove</button>
				</form>
			</td>
		</tr>
	{% else %}
		<tr><td>No shoplists found</td></tr>
	{% endfor %}
</table>
{% endblock %}
